# Created by .ignore support plugin (hsz.mobi)
.idea
.ipynb_checkpoints
docs



source/_static/big_lakes.png
source/_static/big_lakes_simplified.png
source/_static/city_plot.png
source/_static/corine-level3.png
source/_static/damselfish.png
source/_static/europe_euqdist.png
source/_static/graph.png
source/_static/helsinki_districts.png
source/_static/helsinki_districts_pip.png
source/_static/helsinki_grid_borders_intersect.png
source/_static/natural_breaks_pt_accessibility.png
source/_static/natural_breaks_population
source/_static/population_points.png
source/_static/proj_graph.png
source/_static/projected.png
source/_static/pt_time.png
source/_static/routing.png
source/_static/routing_with_buildings.png
source/_static/small-big-lakes.png
source/_static/static_map.png
source/_static/street_network.png
source/_static/suitable_areas.png
source/_static/walk_distances.png
source/_static/wgs84.png
source/_static/corine-CLC_CODE.png
source/_static/natural_breaks_population.png
source/_static/small-big-bogs.png
source/_static/natural_breaks_population_extra_labels.png
source/_static/population_histogram.png
source/_static/bogs_area_histogram.png
source/_static/crime-by-dayofweek.png
source/_static/crime-by-hourly.png
source/_static/crime-by-month.png
source/_static/crime-costs-histogram.png
source/_static/crime-grid-3301_poly.png

source/savefig

data/metro_map.html
data/point_map.html
data/point_map_hover.html
data/points.html

data/base_map.html
data/base_map2.html
data/pop15.html
data/roads_map.html
source/_static/population_histogram2.png


